# Весь проект определять как TypeScript
* linguist-language=TypeScript

# Исключения
*.js linguist-language=JavaScript
*.html linguist-language=HTML
*.json linguist-language=JSON
*.md linguist-language=Markdown
*.webm -linguist-detectable
*.png -linguist-detectable
*.jpg -linguist-detectable